body{
    background: linear-gradient(#7F7FD5, #91EAE4);
    height: 100vh;
}

.userProfileDiv{
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.userProfile{
    text-align: center;
}

.updateButtonDiv{
    text-align: center;
}